<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Free online todo list">
  <meta name="author" content="Sushmita Patil">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="css/styles.css">

  <link rel="icon" href="css/favicon.ico">

  <title>To Do List</title>
</head>

<body>
